/*
THEME:   Template
VERSION: 1.0.0
AUTHOR: 
GITHUB: 
WEBSITE: 
TWITTER: 
FACEBOOK: 
*/

@import 'variables';
@import'typography';
@import 'common';
@import'default';

// Theme Components
@import 'theme/component';